<!--Design Components taken and altered from: https://daisyui.com-->
<!--Design Components also taken and altered from: https://tailwindcss.com-->
<!--Navbar section taken and adapted from: https://daisyui.com/components/navbar/#navbar-with-title-and-icon-->
<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <!--Left hand side of the navbar-->
        <a class="btn btn-ghost" href="/">Home</a>
        <a class="btn btn-ghost" href="/background">Background Research</a>
        <a class="btn btn-ghost" href="/algorithms">Algorithms</a>
        <a class="btn btn-ghost" href="/citations">Citations</a>
        <a class="btn btn-ghost" href="/experiment">Results</a>
    </div>
    <!--Right hand side of the navbar-->
    <div class="flex-none">
        <!--Navbar element provided with a visible button to hopefully point users in this direction.-->
        <ul class="menu menu-horizontal px-1">
            <li><a class="btn btn-soft btn-primary" href="/interactive">Interactive</a></li>
        </ul>
    </div>
</div>