<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="btn btn-ghost" href="/">Home</a>
      <a class="btn btn-ghost" href="/background">Background Research</a>
      <a class="btn btn-ghost" href="/algorithms">Algorithms</a>
      <a class="btn btn-ghost" href="/citations">Citations</a>
      <a class="btn btn-ghost">Results</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a class="btn btn-soft btn-primary" href="/interactive">Interactive</a></li>
      </ul>
    </div>
  </div>