{% extends 'base.html' %}
{% block content %}
<div tabindex="0" class="collapse bg-base-100 border-base-300 border">
    <div class="collapse-title font-semibold">Federated Learning</div>
    <div class="collapse-content text-sm">
      Click the "Sign Up" button in the top right corner and follow the registration process.
    </div>
  </div>
<div tabindex="0" class="collapse bg-base-100 border-base-300 border">
    <div class="collapse-title font-semibold">Secure Aggregation Protocol</div>
    <div class="collapse-content text-sm">
      Click the "Sign Up" button in the top right corner and follow the registration process.
    </div>
</div>
<div tabindex="0" class="collapse bg-base-100 border-base-300 border">
    <div class="collapse-title font-semibold">Differential Privacy</div>
    <div class="collapse-content text-sm">
      Click the "Sign Up" button in the top right corner and follow the registration process.
    </div>
</div>
<div tabindex="0" class="collapse bg-base-100 border-base-300 border">
    <div class="collapse-title font-semibold">Deep Leakage from Gradients</div>
    <div class="collapse-content text-sm">
      Click the "Sign Up" button in the top right corner and follow the registration process.
    </div>
</div>
{% endblock %}