<!--Design Components taken and altered from: https://daisyui.com-->
{% extends 'base.html' %}
{% block content %}
<p id="citation_1">
[1]
W. S. McCulloch and W. Pitts, “A Logical Calculus of the Ideas Immanent in Nervous Activity,” The Bulletin of Mathematical Biophysics, vol. 5, no. 4, pp. 115–133, 1943, doi: <a href="https://doi.org/10.1007/bf02478259" class="hover:underline">10.1007/bf02478259.</a>
</p>
<br class="py-5">
<p id ="citation_2">
[2]
F. Rosenblatt, “The perceptron: A probabilistic model for information storage and organization in the brain.,” Psychological Review, vol. 65, no. 6, pp. 386–408, 1958, doi: <a href="https://doi.org/10.1037/h0042519" class="hover:underline">10.1037/h0042519.</a>
</p>
<br class="py-5">
<p id="citation_3">
[3]
C. Dwork, F. McSherry, K. Nissim, and A. Smith, “Calibrating Noise to Sensitivity in Private Data Analysis,” in Theory of Cryptography, 2006, pp. 265–284.
</p>
<br class="py-5">
<p id="citation_4">
[4]
K. A. Bonawitz et al., “Practical Secure Aggregation for Federated Learning on User-Held Data,” 2016. [Online]. Available: <a href="https://arxiv.org/abs/1611.04482" class="hover:underline">https://arxiv.org/abs/1611.04482</a>
</p>
{% endblock %}