<!--Design Components taken and altered from: https://daisyui.com-->
{% extends 'base.html' %}
{% block content %}
[1]
W. S. McCulloch and W. Pitts, “A Logical Calculus of the Ideas Immanent in Nervous Activity,” The Bulletin of Mathematical Biophysics, vol. 5, no. 4, pp. 115–133, 1943, doi: <a href="https://doi.org/10.1007/bf02478259" class="hover:underline">10.1007/bf02478259.</a>
<br class="py-5">
[2]
F. Rosenblatt, “The perceptron: A probabilistic model for information storage and organization in the brain.,” Psychological Review, vol. 65, no. 6, pp. 386–408, 1958, doi: <a href="https://doi.org/10.1037/h0042519" class="hover:underline">10.1037/h0042519.</a>
{% endblock %}