{% extends 'base.html' %}

{% block content %}
<style>
  .cifar-image {
    transition: all 0.3s ease;
    border: 2px solid transparent;
}
.cifar-image.highlighted {
    border-color: #ff0000;
    transform: scale(1.1);
    z-index: 1;
}
.point-highlighted {
  r: 8;
  stroke-width: 3;
}
</style>
<div style="width: 800px; margin: 20px auto;">
  <canvas id="mseChart"></canvas>
  <canvas id="psnrChart"></canvas>
  <canvas id="ssimChart"></canvas>

  <div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 10px; padding: 20px;">
    {% for image in images %}
    <div>
        <img src="data:image/png;base64,{{ image }}" 
             alt="CIFAR100 Image" 
             class="cifar-image"
             data-index="{{ loop.index0 }}"
             style="width: 100%; height: auto;">
    </div>
    {% endfor %}
  </div>
</div>
<script src="{{ url_for('static', filename='js/charts.js')}}"></script>
<script src="{{ url_for('static', filename='js/hightlight.js')}}"></script>

{% endblock %}
